/*
.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

i.icon {
  margin: 0;
} */

/* note the s, plural, wraps all the colors */
.colors-wrapper {
  border: 2px solid pink;

}

/* wrapper for ONE color */
.color-wrapper {
  border: 1px solid green;
  margin-bottom: 30px;
}

/* each individual color itself */
.color {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  margin-right: 20px;
}

.buttons-wrapper {
border: 3px solid black;
}

.new-colors-btn {
  border: none;
  padding: .55em;
  border-radius: 3px;
  color: white;
  background-color: rgb(190, 188, 188);
  margin-bottom: 40px;
  margin-right: 20px;
}


/* parent flex */
.content-wrapper {
  border: 2px solid green;
  display: flex;
  align-items: baseline;
}
